/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  width: 100%;
}

.deploy .control-group {
  display: inline-block;
  vertical-align: top;
}

.deploy .button-group {
  float: right;
  padding-top: 25px;
  text-align: right;
}

.deploy #deploy_pull_request {
  max-width: calc(100vw - 370px);
}

.new-deploy-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-deploy-table {
  padding: 10px;
  display: inline-block;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.new-deploy-table th,td {
  border: #ccc 1px solid;
  padding: 3px;
}

#migration_warning {
  color: red;
}

.deploy_details .header {
  display: inline-block;
}

.deploy_details #github_repository {
  font-size: 2.5em;
}

.deploy_details #github_link {
  font-size: 2.5em;
  text-decoration: underline;
}

.deploy_details #pull_request {
  font-size: 1.2em;
}

.deploy_details .button-group {
  float: right;
  text-align: right;
}

.deploy_details h2,h3,h4 {
  font-size: 16px;
}

.deploy_details h4 {
  margin-top: 4px;
  padding-top: 6px;
  border-top: #ccc 1px solid;
}

.deploy_details table {
  margin: 10px;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.deploy_details th,td {
  border: #ccc 1px solid;
  padding: 3px;
}

.deploy_details td .success {
  color: green;
}

.deploy_details td .failure {
  color: red;
}

.btn.success {
  color: white;
  background-color: green;
}

.btn.failure {
  color: white;
  background-color: red;
}

